.jumbotron{
    background-color:red;
    color: white;
    margin-top: 50px;
}

.btn{

    background-color: darkslategrey;
    color: floralwhite;
    width: 100%;
}
.footer{

    padding: 10px 10px 0 10px;
    background-color: red;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
}

.tiendas {

    flex: 1 200px;
    
} 

.titulo1 {
    background-color: red;
    color: white;
    border: gold;
}
.historia {
    flex: 1 200px;
}